//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ../../blocks/advantages-list/advantages-list.pug
include ../../blocks/header/header.pug
include ../../blocks/nav/nav.pug
include ../../blocks/footer/footer.pug
