@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:300,400,600,700');

@mixin font ($font-size: 16px, $font-color: $black, $font-weight: $font-weight_regular, $font-family: $font-family) {
  font-size: $font-size;
  color: $font-color;
  font-weight: $font-weight;
  font-family: $font-family;
}

body {
  color: $black;
  font-family: $font-family;
  font-size: $font-size_root;
  font-weight: $font-weight_regular;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  word-break: normal;
}

a {
  text-decoration: none;
  color: $black;
}

