// Базовые цвета https://colorscheme.ru/color-converter.html

$yellow:                      #f8c504;
$orange:                      #fcbb0d;
$purple:                      #5b38d5;
$purple-dark:                 #250d41;
$brown:                       #3a2f0e;
$green:                       #07bfa7;
$blue:                        #126de6;
$blue-light:                  #739eed;
$gray:                        #7e7e7e;
$black:                       #222222;
$white:                       #ffffff;
$white-pearl:                 #cfcfec;


$color-primary:               $blue;
$color-secondary:             $green;

$color-text_gray:             $gray;
$color-text_black:            $black;
$color-text_light:            $white-pearl;

/* Градиенты */

$gradient-main:               linear-gradient(135deg, #3a00a4 0%, #0396ff 100%);

// Базовая типографика

/* Fonts */

$font-family:                'Encode Sans Expanded';
$font-family_icons:          'FontAwesome';

$font-weight_thin:           100;
$font-weight_light:          300;
$font-weight_regular:        400;
$font-weight_medium:         500;
$font-weight_semibold:       600;
$font-weight_bold:           700;
$font-weight_extra-bold:     800;

$font-size_root:             16px;

$font-size:                  1rem; // rem(16px)

$font-size_h1:               rem(48px);
$font-size_h2:               rem(32px);
$font-size_h3:               rem(24px);
$font-size_h4:               rem(18px);
$font-size_h5:               rem(16px);
$font-size_h6:               rem(16px);

$line-height:                2;

// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

// Разное

$transition_fast:             all ease 0.4s;
$transition_slow:             all ease 0.8s;

