// Имя:             Buttons
// Описание:        Основные стили и модификаторы для всех кнопок проекта
//
// Компонент:       `button`
//
// Модификаторы:    `button_transparent` - прозрачная кнопка с border
//                  `button_green` - зелёная кнопка
//                  `button_blue` - голубая кнопка
//                  `button_white` - белая кнопка
//                  `button_small` - маленькая кнопка
//                  `button_shadow` - добавление тени
//                  `button_arrow` - добавление стрелки внутри кнопки
//
// ========================================================================

// Переменные
// ========================================================================

$button-standard-height: 50px !default;
$button-small-height: 40px !default;

/* ========================================================================
   Компонент: Buttons
 ========================================================================== */

/*
 * 1.
 *
 */

.button {
  display: inline-block;
  height: $button-standard-height;
  color: $white;
  font-size: 13px;
  font-weight: $font-weight_bold;
  line-height: $button-standard-height;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: 0 20px;
  border-radius: 100px;
  cursor: pointer;


  /* Телефон в горизонтальном положение и шире */
  @media (min-width: $screen-md) {
  }

  /* Планшет в горизонтальном положение и шире */
  @media (min-width: $screen-xl) {
  }

  /* Модификаторы
 ========================================================================== */

  &_small {
    height: $button-small-height;
    line-height: $button-small-height;
  }

  &_transparent {
    background-color: transparent;
    border: 2px solid #e3e3e3;
  }

  &_green {
    background-color: $green;
  }

  &_blue {
    background-color: $blue;
  }

  &_white {
    background-color: #fff;
  }

  &_shadow {
    box-shadow: 0 13px 38px rgba(0, 0, 0, 0.15);
  }

  &_arrow {
    &:after {
      content: '\f105';
      display: inline-block;
      font-family: $font-family_icons;
      margin: 0 0 0 20px;
      font-size: 16px;
    }
  }
}
