.ellipse {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  background-color: #fff;
  border-radius: 70px;

  &_shadow {
    box-shadow: 0 10px 19.3px 5.8px rgba(27, 79, 206, 0.05);
  }

  &_slider-nav-arrow-left {
    background-color: transparent;
    border: 2px solid $blue;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    cursor: pointer;

    &:after {
      font-family: $font-family_icons;
      content: '\f104';
      color: $blue;
      font-size: 38px;
    }

    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      height: 80px;
      width: 80px;
      border-radius: 80px;
      border: 1px solid #dfecfc;
    }
  }

  &_slider-nav-arrow-right {
    background-color: transparent;
    border: 2px solid $blue;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    cursor: pointer;

    &:after {
      font-family: $font-family_icons;
      content: '\f105';
      color: $blue;
      font-size: 38px;
    }

    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      height: 80px;
      width: 80px;
      border-radius: 80px;
      border: 1px solid #dfecfc;
    }
  }
}
//TODO Сделать документацию
