.main {
  background-image: $gradient-main;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 120px 0;
  }

  .ellipse {
    position: absolute;

    i {
      font-size: 28px;
      color: $blue;
    }
  }

  &__title {
    max-width: 450px;
    color: $white;
    font-size: 48px;
    font-weight: $font-weight_bold;
    line-height: 72px;
  }

  &__info-text {
    max-width: 360px;
    color: $color-text_light;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    margin: 60px 0;
  }

  &__buttons {

    .button {

      &:last-of-type {
        margin: 0 0 0 15px;
      }
    }
  }

  &__video-iframe {
    border-radius: 20px;
  }

  &__scroll-down-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.advantages {
  padding: 115px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .ellipse {
    min-width: 70px;
  }

  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__question-title {
    color: $color-text_black;
    font-size: 40px;
    font-weight: $font-weight_semibold;
    text-align: center;
    line-height: 81px;
  }

  &__question-text {
    color: $color-text_black;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
  }

  &__question-icon {
    margin: 85px 0 0 0;
  }

  &__list {
    max-width: 920px;
  }

  &__list-item {
    display: flex;
    margin: 0 0 75px 0;

    &:last-of-type {
      margin: 0;
    }
  }

  &__list-info {
    margin: 0 0 0 30px;
  }

  &__list-title {
    color: $color-text_black;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
  }

  &__list-text {
    color: $gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}

.cases {
  padding: 115px 0 215px 0;
  background: #f3f8fe;

  .nav-arrows {
    position: absolute;
    width: 100%;
    top: 0;

    &__arrow-left {
      position: absolute;
      top: 315px;
      left: 0;
    }

    &__arrow-right {
      position: absolute;
      top: 315px;
      right: 0;
    }
  }

  .nav-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 35px;

    &__dot {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 15px;
      transition: $transition_fast;
      cursor: pointer;

      &.isActive:before {
        border: 1px solid $blue;
      }

      &:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 20px;
        background-color: #afcef7;
      }

      &:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid transparent;
        transition: $transition_fast;
        border-radius: 20px;
      }

      &:hover:before {
        border: 1px solid $blue;
      }
    }
  }

  .quiz-banner {
    position: absolute;
    width: 100%;
    bottom: -300px;

    &__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 105px;
      background-image: $gradient-main;
      border-radius: 25px;
      box-shadow: 0 0 32.9px 2.1px rgba(27, 79, 206, 0.07);
      padding: 35px 110px;
    }

    .button {
      color: $blue;
    }

    &__text {
      max-width: 750px;
      color: $white;
      font-size: 24px;
      line-height: 36px;
      font-weight: $font-weight_light;
    }
  }

  .slider {
    position: relative;
    margin: 80px 0 0 0;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      margin: 0 30px 0 0;
    }

    &__info {
      max-width: 370px;
    }

    &__title {
      display: inline-block;
      position: relative;
      margin: 0 0 45px 0;
      color: $color-text_black;
      font-size: 24px;
      font-weight: $font-weight_light;

      &:after {
        z-index: -1;
        left: 0;
        bottom: 0;
        position: absolute;
        content: '';
        display: inline-block;
        height: 10px;
        width: 100%;
        background-color: #c6dcf9;
        border-radius: 100px;
      }
    }

    &__text {
      color: $color-text_gray;
      font-size: 16px;
      font-weight: $font-weight_regular;
      line-height: 24px;
    }

    &__statistic {
      display: flex;
      margin: 20px 0;
    }

    &__statistic-item {
      margin: 0 30px 0 0;

      &:last-of-type {
        margin: 0;
      }
    }

    &__statistic-number {
      font-size: 72px;
      font-weight: $font-weight_bold;
      color: $blue-light;
      margin: 0 0 25px 0;

      &:after {
        content: '%';
        color: $blue-light;
        font-size: 24px;
        line-height: 24px;
        font-weight: $font-weight_regular;
      }
    }

    &__statistic-title {
      color: $color-text_black;
      font-size: 16px;
      font-weight: $font-weight_regular;
      line-height: 24px;
    }
  }

  &__title {
    color: $color-text_black;
    font-size: 40px;
    font-weight: 600;
    line-height: 81px;
    text-align: center;
  }
}

.services {
  padding: 200px 0 245px 0;

  .consultation-banner {
    position: absolute;
    bottom: -370px;

    .button {
      color: $blue;
      margin: 0 0 0 30px;
    }

    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 105px;
      background-image: $gradient-main;
      border-radius: 25px;
      box-shadow: 0 0 32.9px 2.1px rgba(27, 79, 206, 0.07);
      padding: 35px 90px;
    }

    &__title {
      color: $white;
      font-size: 30px;
      line-height: 44px;
      font-weight: $font-weight_regular;
      text-align: center;
    }

    &__info {
      display: flex;
      align-items: center;
      margin: 40px 0 0 0;
    }

    &__info-text {
      font-size: 18px;
      line-height: 30px;
      font-weight: $font-weight_regular;
      color: $color-text_light;
      text-align: center;
    }
  }

  &__title {
    color: $color-text_black;
    font-size: 40px;
    font-weight: $font-weight_semibold;
    line-height: 81px;
    text-align: center;
  }

  &__subtitle {
    color: $color-text_black;
    font-size: 24px;
    font-weight: $font-weight_light;
    line-height: 36px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 55px 0 0 0;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 290px;
    min-height: 190px;
    padding: 40px;
    background-color: #f3f8fe;
    border-radius: 25px;
    margin: 15px 0;
    border: 2px solid #f3f8fe;
    transition: $transition_fast;

    &:hover {
      background-color: #fff;
      border: 2px solid $blue;
      box-shadow: 0 10px 19.3px 5.8px rgba(27, 79, 206, 0.05);
    }

    &:hover &-title {
      color: $blue;
    }
  }

  &__item-title {
    color: $color-text_black;
    font-size: 18px;
    font-weight: $font-weight_semibold ;
    margin: 40px 0 0 0;
    text-align: center;
  }
}

.analyze {
  padding: 250px 0 300px;
  background-color: #f3f8fe;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  &__right {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    .button {
      text-align: center;
      min-width: 194px;
    }

    &__input {
      min-width: 200px;
      background-color: $white;
      border: 2px solid $blue;
      border-radius: 25px;
      padding: 8px 15px;
      color: $color-text_gray;
      font-size: 14px;
      font-weight: $font-weight_regular;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: $font-weight_regular;
    color: $color-text_black;
    text-align: center;

    strong {
      color: $blue;
      line-height: 24px;
    }
  }

  &__sub-title {
    max-width: 350px;
    margin: 30px auto;
    text-align: center;
    font-family: $font-family;
    font-size: 18px;
    color: #222222;
  }

  .advice-banner {
    position: absolute;
    bottom: -440px;

    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 105px;
      background-image: linear-gradient(135deg, #3a00a4 0%, #0396ff 100%);
      border-radius: 25px;
      box-shadow: 0 0 32.9px 2.1px rgba(27, 79, 206, 0.07);
      padding: 35px 90px;
    }

    &__title-block {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }

    &__title-text {
      font-size: 30px;
      color: $white;
      font-weight: $font-weight_regular;
      line-height: 44px;
    }

    &__sub-text {
      font-size: 18px;
      font-weight: $font-weight_regular;
      line-height: 30px;
      color: $white;
      text-align: center;
      margin: 0 30px;
    }

    &__name {
      font-size: 16px;
      font-weight: $font-weight_regular;
      line-height: 30px;
      color: $white;
      text-align: right;
      width: 100%;
      margin-right: 70px;
    }

    .button {
      color: $blue;
      margin: 0 0 0 30px;
    }
  }
}

.special {
  padding: 250px 0 50px;

  &__title {
    @include font(40px, $black, $font-weight_semibold);
    line-height: 81px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    min-height: 190px;
    padding: 40px;
  }

  &__item-title {
    @include font(16px, $black, $font-weight_semibold);
    margin-top: 20px;
  }
}

.designs {
  background-color: #f3f8fe;
  padding: 80px 0 250px;

  &__title {
    @include font(40px, $black, $font-weight_semibold);
    line-height: 81px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 20px 25px;
    border-radius: 26px;
    border: 15px solid transparent;
    position: relative;
    transition: $transition_fast;

    &:after {
      background: transparent;
      content: '';
      height: 100%;
      display: block;
      width: 100%;
      position: absolute;
      border-radius: 10px;
      transition: $transition_fast;
    }

    &:hover {
      border: 15px solid #126ee7;

      &:after {
        background: rgba(255, 255, 255, 0.6);
      }

      .button {
        display: block;
      }
    }

    .button {
      display: none;
      position: absolute;
      bottom: 15%;
      z-index: 10;
      transition: all ease 0.8s;
    }
  }

  &__item-icon {
    width: 100%;
    border-radius: 10px;
  }

  .free-banner {
    position: absolute;
    bottom: -340px;

    &__block {
      display: flex;
      align-items: center;
      min-height: 105px;
      background-image: linear-gradient(135deg, #3a00a4 0%, #0396ff 100%);
      border-radius: 25px;
      box-shadow: 0 0 32.9px 2.1px rgba(27, 79, 206, 0.07);
      padding: 25px 90px;
    }

    &__title-text {
      @include font(24px, $white, $font-weight_regular);
      line-height: 36px;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;

      .button {
        text-align: center;
        min-width: 200px;
      }

      &__input {
        min-width: 200px;
        background-color: $white;
        border: 2px solid $blue;
        border-radius: 25px;
        padding: 8px 15px;
        color: $color-text_gray;
        font-size: 14px;
        font-weight: $font-weight_regular;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }
  }
}
