// В этом файле должны быть стили для БЭМ-блока nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.nav {

  &__link {
    color: $color-text_light;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 100px;
    background-color: transparent;
    transition: $transition_fast;
    text-transform: uppercase;

    &:hover {
      color: $white;
      background-color: #25219e;
    }
  }
}
