//- Все примеси в этом файле должны начинаться c имени блока (nav)

mixin nav(navLinks, mods)

  //- Принимает:
  //-   pages   [array {link, page}]  - список страниц
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +nav('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' nav_' + modsList[i].trim();
      }
    }
    // список ссылок

  +b.NAV.nav(class=allMods)&attributes(attributes)
    each navLink in navLinks
      +e.A.link(href= navLink.url + '.html')= navLink.name