extends ../layouts/layout.pug

block meta
    title Главная
    meta(name='description', content='')

//- block append head
//- link(rel='stylesheet', href='css/some.css')

block content
  +b.consultation
    +b.consultation-form
      +e.INPUT.input
      +b.A.button._green Button
