extends ../layouts/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//- link(rel='stylesheet', href='css/some.css')

block content
  +b.SECTION.main(class='section_first')
    .container
      +e.info
        +e.title #1 SEO Company In Houston, TX
        +e.info-text It looks like you want to increase your online presence. Don’t you? If so, let us help you grow your business online through our internet marketing expertise.
        +e.buttons
          +b.A.button._green._shadow(href='#') Free consultation
          +b.A.button._transparent(href='#') View Case Studies
      +e.video
        +e.IFRAME.video-iframe(width="560" height="315" src="https://www.youtube.com/embed/xcJtL7QggTI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    +e.scroll-down-block
      .ellipse.ellipse_shadow
        i.fa-angle-down.fa
  +b.SECTION.advantages
    .container
      +e.question
        +e.question-title Why Marketers?
        +e.question-text Why to Hire Us Over Hundreds of Other Digital Marketing Agencies in Houston, TX?
        +e.IMG.question-icon(src='img/advantages-icon.png')
      +e.list
        -
          var advantagesItems = [
            {
              title: 'Results is the name of the game!',
              text: 'Before hiring us, we’ll be happy to provide you with tons of references from satisfied clients in multiple industries! So you can stay calm and be sure you’re in good hands!',
              icon:'advantages-item-icon-1.png'
            },
            {
              title: 'Scientific approach!',
              text: 'Your project will be managed by a team of  data-driven geeks who love scientific approach. So you can rest assured that every step of your project’s online strategy is well calculated!\n',
              icon:'advantages-item-icon-2.png'
            },
            {
              title: 'Full transparency!',
              text: 'Right after hiring us, you’ll get full access to our tracking system where you will be able to see 24/7 all the progress of your project. So you’ll always be informed about your project’s status!\n',
              icon:'advantages-item-icon-3.png'
            }
          ];
        each advantagesItem in advantagesItems
          +e.list-item
            .ellipse.ellipse_shadow
              img.list-icon(src='img/' + advantagesItem.icon)
            +e.list-info
              +e.list-title= advantagesItem.title
              +e.list-text=  advantagesItem.text
  +b.SECTION.cases
    .container
      +e.title Case Studies
      //TODO перенести в компонент
      +b.slider
        +e.item
          +e.IMG.img(src='img/cases-slider-bg-1.png')
          +e.info
            +e.title Secret Box
            +e.text These days online users have a very short attention span. This is no longer news that the longer your website loads, the higher amount of visitors will hit “Back” or “X” button.
            +e.statistic
              +e.statistic-item
                +e.statistic-number 15
                +e.statistic-title Conversion
              +e.statistic-item
                +e.statistic-number 25
                +e.statistic-title Traffic increase
            +b.A.button_blue(href='#') visit webpage
      +b.nav-arrows
        +e.arrow-left
          .ellipse.ellipse_slider-nav-arrow-left
        +e.arrow-right
          .ellipse.ellipse_slider-nav-arrow-right
      +b.nav-dots
        - for (var i=0; i<7; i++)
          +e.dot

        +e.dot.isActive
      +b.quiz-banner
        +e.block
          +e.text Take this #[strong quick] 3-minute quiz and discover what would be the #[strong most profitable] web marketing channel for #[strong your specific business type] and its #[strong estimated monthly cost…]
          +b.A.button._white._shadow Start quiz
  +b.SECTION.services
    .container
      +e.title-block
        +e.title Our Digital Marketing Services
        +e.subtitle Here is how we can help your business to get#[br] more customers through the internet:
      +e.list
        -
          var servicesItems = [
            {
              title: 'Search Engine Marketing',
              icon:'services-icon-1.png'
            },
            {
              title: 'Search Engine Optimization',
              icon:'services-icon-2.png'
            },
            {
              title: 'Content Marketing',
              icon:'services-icon-3.png'
            },
            {
              title: 'SEO Web Design',
              icon:'services-icon-4.png'
            },
            {
              title: 'Conversion Rate Optimization',
              icon:'services-icon-5.png'
            },
            {
              title: 'Social Media Marketing',
              icon:'services-icon-6.png'
            },
            {
              title: 'Sales Funnels Creation',
              icon:'services-icon-7.png'
            },
            {
              title: 'PPC Advertising Management',
              icon:'services-icon-8.png'
            },
            {
              title: 'SEO Consulting',
              icon:'services-icon-9.png'
            }
          ];
        each servicesItem in servicesItems
          +e.item
            +e.IMG.item-icon(src='img/' + servicesItem.icon)
            +e.A.item-title(href='#')= servicesItem.title
      +b.consultation-banner
        +e.block
          +e.title #[strong Our Team of SEO Experts] and Digital Marketers Does Not Only#[br]Serve Businesses in Houston Area
          +e.info
            +e.info-text We Also Help #[strong Small] and #[strong Mid-Size Companies] Throughout the Entire#[br]Nation as Well as Worldwide to Get More Customers from #[strong The Internet!]
            +b.button._white._shadow Free consultation
  +b.SECTION.analyze
    .container
      +e.left
        +e.title-block
          +e.title Get a #[strong FREE] in-depth SEO audit of your#[br]website in #[strong 60 seconds!]
          +e.sub-title 99% of all websites contain multiple technical errors that hold your rankings back!
        +b.FORM.form
          +e.INPUT.input(placeholder='Enter your Website URL')
          +b.A.button._blue._shadow._arrow analyze now
      +e.right
         +e.IMG.img(src='img/analyze-icon.png')
      +b.advice-banner
        +e.block
          +e.title-block
            +e.title-text Many business owners don’t know that#[br]choosing the #[strong right SEO firm] is critical.
            +b.button._white._shadow Free consultation
          +e.sub-text Unfortunately, there are many unethical SEO companies that employ overly aggressive marketing tactics. The outcome will negatively affect your site’s presence in Google and other search engines and can even result in complete removal of your website from their index! Therefore, you must thoroughly#[br]evaluate a SEO agency before hiring one.
          +e.name – Oleg Donets, CEO OD Marketers
  +b.SECTION.special
    .container
      +e.title Industries We Specialize In
      +e.list
        -
          var specialItems = [
          {
             title: 'Real Estate',
             icon:'special-icon-1.png'
          },
          {
            title: 'Home Improvement',
            icon:'special-icon-2.png'
          },
          {
            title: 'Healthcare & Medical',
            icon:'special-icon-3.png'
          },
          {
            title: 'Food & Drinks',
            icon:'special-icon-4.png'
          },
          {
            title: 'Retail',
            icon:'special-icon-5.png'
          },
          {
            title: 'Oil & Gas',
            icon:'special-icon-6.png'
          },
          {
            title: 'Weddings',
            icon:'special-icon-7.png'
          },
          {
            title: 'Transportation',
            icon:'special-icon-8.png'
          }
          ];
        each specialItem in specialItems
          +e.item
            +e.IMG.item-icon(src='img/' + specialItem.icon)
            +e.A.item-title(href='#')= specialItem.title
  +b.SECTION.designs
    .container
      +e.title Our Designs
      +e.list
        -
          var designsItems = [
          {
            icon:'designs-icon-1.png'
          },
          {
            icon:'designs-icon-2.png'
          },
          {
            icon:'designs-icon-3.png'
          },
          {
            icon:'designs-icon-4.png'
          }
          ];
        each designsItem in designsItems
          +e.item
            +e.IMG.item-icon(src='img/' + designsItem.icon)
            +b.A.button._blue._shadow._arrow see before and after
      +b.free-banner
        +e.block
          +e.title-text Get a #[strong FREE] in-depth SEO audit of your website in#[br] #[strong 60 seconds] and discover what holds your rankings back!
          +b.FORM.form
            +e.INPUT.input(placeholder='Enter your Website URL')
            +b.button._blue._shadow._arrow analyze now




