//- Все примеси в этом файле должны начинаться c имени блока (header)

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header_' + modsList[i].trim();
      }
    }

  +b.header(class=allMods)&attributes(attributes)
    .container
      .logo
        img(src='img/logo.png').logo__img
      -
       var navLinks = [
          {url: '/services', name: 'Services'},
          {url: '/why-hire-us', name: 'Why hire us'},
          {url: '/about', name: 'About'},
          {url: '/contact', name: 'Contact'}
        ];
      +nav(navLinks)
      +e.callback
        +e.phone (832)
          span 626-1460
        +b.button._small._white Free consultation