// В этом файле должны быть стили для БЭМ-блока header, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {
  position: absolute;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #2f6ee0;
    padding: 20px 0;
  }

  &__callback {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
      color: #2241cc;
    }
  }

  &__phone {
    color: $white;
    font-size: 1.1rem;
    font-weight: $font-weight_regular;
    margin: 0 0 10px 0;

    span {
      font-weight: $font-weight_semibold;
    }

    &:before {
      font-family: $font-family_icons;
      content: '\f095';
      display: inline-block;
      color: $white;
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }
}
